body {
	background: #000;
	color: #fff;
	font-family: Inter, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

a { color: #fff; }
a:hover { color: #FC3; }

/*                       */
/*   Teleprompter text   */
/*                       */
main {
	margin: 0 auto;
	padding: 3rem;
	font-size: 5rem;
	overflow-y: scroll;
	flex-grow: 1;
}
header, article {
	margin: 0 auto;
}
article {
	padding: 0 3rem 3rem;
	flex-grow: 1;
}
.stack { flex-direction: column; }
hr {
	margin: 1rem auto;
	width: 50%;
}
main > p { margin: 0; }
main > p:focus { outline: none; }

/*              */
/*   Controls   */
/*              */
footer {
	padding: 1rem;
	background: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a#logo {
	font-weight: 600;
	text-decoration: none;
	padding-right: 0.5rem;
}

button {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background: #444;
	color: unset;
	font-size: 1rem;
	font-weight: 400;
	border: none;
}
button:hover { opacity: 0.7; }

button#toggle {
	background: #2B3;
	font-weight: 600;
}
